* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    --white-background: #f0f4fa;
    --white: #F8FAFF;
    --white-input: #EAF2FE;
    --white-font: #030303;  
    --white-font-light: #7C7C7D;
    --blue: #5B96F7;
    --blue-font: #709CE6;
    --success: #1ba345;
    --danger: #e74c3c;
}

.Toastify__progress-bar--info {
    background: var(--blue-font) !important;
}

body {
    background-color: var(--white-background);
}

#root {
    display: flex;
    flex-direction: row;
}

ion-icon {
    z-index: 1;
}

*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #888;
}