.dashboard {
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: #f8faff;
    height: 100vh;
    width: 400px;
    padding: 1em;
    border-right: solid 1px rgb(204, 204, 204);
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header > h1 {
    font-size: 35px;
}

.header > ion-icon {
    font-size: 35px;
    cursor: pointer;
    opacity: 0.5;
}

.header > ion-icon:hover {
    opacity: 1;
    transition: 0.1s;
}

.search-box {
    background-color: #eaf2fe;
    border-radius: 20px;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 1em;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box > ion-icon {
    font-size: 30px;
    font-weight: bold;
    color: #709ce6;
}

.search-box > input {
    border: none;
    background-color: transparent;
    outline: none;
    font-size: 20px;
    width: 80%;
    margin-left: 10px;
}

hr {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px solid #d2d2d2;
}

.conversations {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1em;
    margin: 0 auto;
    overflow: scroll;
    width: 100%;
    height: 100%;
}

.conversations::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
.conversations::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #888;
}

.conversations p {
    width: 100%;
    text-align: center;
}

.main {
    height: 100vh;
    width: calc(100vw - 400px - 100px);
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 100px;
}

.home p {
    font-size: 40px;
    font-weight: bold;
    color: #709ce6;
}