.addUser {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.addUser > .header {
    background-color: white;
    height: 10%;
    border-bottom: solid 1px rgb(204, 204, 204);
}

.addUser > .header > .h2 {
    font-size: 30px;
    font-weight: bold;
    padding: 0 20px;
}

.input-addUser {
    width: 70%;
    margin: 0 auto;
    margin-top: 2em;
    background-color: var(--white-input);
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.input-addUser input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 20px;
}

.resultat {
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.user {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    background: white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.user p {
    font-size: 20px;
}

.user button {
    margin-left: 10px;
    background-color: var(--blue);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    display: flex;
    cursor: pointer;
}