.friends {
    height: 100vh;
    width: calc(100vw - 100px);
    overflow: hidden;
}

.friends .header {
    height: 10%;
    padding: 0 60px;
}

.friends h1 {
    font-size: 40px;
    font-weight: 600;
    color: var(--white-font);
}

#add_friend {
    background-color: var(--success);
    padding: 10px 20px;
    border: 1px transparent;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 1em;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

#add_friend ion-icon {
    font-size: 30px;
}

#add_friend:hover {
    background-color: transparent;
    border: 2px solid var(--success);
    color: var(--success);
}

.friends .main {
    height: 90%;
    width: 90%;
    margin: 0 auto;
}

.filter {
    display: flex;
    gap: 1em;
}

.filter .btn {
    border: 1px solid transparent;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.5;
    user-select: none;
}

.btn:hover {
    border: 1px solid black;
    opacity: 1;
    transition: 0.2s;
}

.filter .selected {
    background-color: var(--success);
    color: white;
    border: 1px solid transparent;
    cursor: default;
    opacity: 1;
}

.friends-list {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.friends-list .friend {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.friends-list .friend .friend-info {
    display: flex;
    align-items: center;
    gap: 1em;
}

.friends-list .friend .friend-info img {
    width: 60px;
    border-radius: 50%;
}

.friends-list .friend .friend-info p {
    font-size: 20px;
    font-weight: 400;
}

.friends-list .friend .friend-option {
    display: flex;
    align-items: center;
    gap: 1em;
}

.friends-list .friend .friend-option ion-icon {
    font-size: 20px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.6;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.friends-list .friend .friend-option ion-icon:hover {
    opacity: 1;
    transition: 0.2s;
    outline: none;
}

.friends-list .friend .friend-option ion-icon[name="person-add-outline"] {
    color: var(--success);
    border: 1px solid var(--success);
}

.friends-list .friend .friend-option ion-icon[name="person-remove-outline"] {
    color: var(--danger);
    border: 1px solid var(--danger);
}