.ModalAddFriend {
    position: absolute;
    top: 0;
    left: 0;
}

.ModalAddFriend .bg-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}